

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shareds/_LayoutPanel.cshtml";
}

<div class="inner-banner">
    @*<section class="w3l-breadcrumb">
        <div class="container">
            <h4 class="inner-text-title font-weight-bold mb-sm-3 mb-2">About Us</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="index.html">Home</a></li>
                <li class="active"><span class="fa fa-chevron-right mx-2" aria-hidden="true"></span>About Us</li>
            </ul>
        </div>
    </section>*@
    <div class="mx-auto">
        <div class="row d-flex align-items-center ">
            <div class="div-img col col-6 text-right mt-3 mb-3">
                <img src="~/Content/assets/images/about1.jpg" alt="Image" />
            </div>
            <div class="div-text col col-6 text-left mt-3 mb-3">
                <p style="font-size: 20px"><strong>BẠN MONG MUỐN CÓ BẰNG TOEIC NHƯNG....</strong></p>
                <p>❌ Mất gốc, không biết bắt đầu từ đâu?</p>
                <p>❌ Không có lộ trình học tập rõ ràng?</p>
                <p>❌ Tự học mãi mà không hiệu quả?</p>
                <p>❌ Cần lộ trình cấp tốc để kịp thời ra trường?</p>
                <p>❌ Bạn đi làm và không có nhiều thời gian?</p>
                <p>Chào đón bạn đến với:</p>
                <p style="font-size: 20px"><strong>TRUNG TÂM ANH NGỮ IMAX</strong></p>
                <p>Trung tâm Anh ngữ IMAX chuyên đào tạo và luyện thi TOEIC, đội ngũ giảng viên trung tâm đã thiết kế chuỗi khóa học từ cơ bản đến nâng cao để <strong>giúp bất kỳ ai có mong muốn thi chứng chỉ TOEIC đều trở nên vô cùng đơn giản trong vòng từ 3-6 tháng</strong>.</p>
                <p>Trong 3 năm qua, chúng tôi đã luyện thi cho hơn 2000 bạn sinh viên và người đi làm, giúp cho họ nâng cao chất lượng học tập trên trường và phát triển sự nghiệp.</p>
                <p>Bạn đã sẵn sàng chinh phục mục tiêu TOEIC của mình?</p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>

<div class="courses-section">
    <div class="container">
        <div class="tab-content" id="myTabContent">
            @{ 
                int n = 1;
                
            }
        </div>
    </div>
</div>
